<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (cats.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Breed</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% cats.forEach((cat, index) => { %>
                        <tr>
                            <th scope="row"><%= cat.cat_id %></th>
                            <td><%= cat.name %></td>
                            <td><%= cat.gender %></td>
                            <td><%= cat.age %></td>
                            <td><%= cat.breed %></td>
                            <td>
                                <a href="/edit/<%= cat.cat_id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete/<%= cat.cat_id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No cats found. Go <a href="/add" >here</a> to add cats.</p>
        <% } %>
    </div>
</div>
</body>
</html>